@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta Bloqueda";
}

<header>
    <div class="text-center">
        <img src="~/imagenes/bloquear.png" class="img-fluid" width="80"/>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Esta cuena ha sido bloqueada, intentalo de nuevo más tarde</p>
    </div>

</header>
