@model Proyecto2.Models.ViewModel.ArticuloVM

@{
    ViewData["Title"] = "Crear Artículo";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo artículo</h3>

    <form method="POST" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Nombre" class="col-4"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingresa el nombre de la categoría" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Descripcion" class="col-4"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Articulo.Descripcion" class="form-control" style="height: 150px;" ></textarea>
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label for="Categoria" class="col-4">Categoría</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias,
                             "-Por favor, seleccione una categoría-", new { @class = "form-control" })
                    <span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.UrlImagen" class="col-4"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivos" class="form-control" />
                    <span asp-validation-for="Articulo.UrlImagen" class="text-danger"></span>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>

        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.4.1/tinymce.min.js" integrity="sha512-TDS3vtbiUCZzBBZO8LFud171Hw+ykrQgkrvjwV+i+XsI0LC46PR4affO+9VbgcR79KreoN7J0HKup9mrle4gRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>
}